{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <h1>Student</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Languages</th>
                <td>{{ student.languages ? student.languages|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Wishes</th>
                <td>{{ student.wishes ? student.wishes|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ student.state }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_student_index') }}">back to list</a>

    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}
