<div class="header @@classList">
  <!-- navbar -->
  <nav class="navbar-classic navbar navbar-expand-lg">
    <a id="nav-toggle" href="#"><i style="font-size: 130%" class="bi bi-list"></i></a>
    <div class="ms-lg-3 d-none d-md-none d-lg-block">
      <!-- Form -->
      <form class="d-flex align-items-center">
        <input type="search" class="form-control" placeholder="Search" />
      </form>
    </div>
    <!--Navbar nav -->
    <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
      <li class="dropdown stopevent">
        <a  class="
          indicator-primary text-muted" href="{{ path('app_dashboard_log') }}" role="button"
          id="dropdownNotification" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            <i style="font-size: 140%" class="bi bi-bell-fill">   &nbsp; </i>

          <i class="icon-xs" data-feather="bell"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end"
          aria-labelledby="dropdownNotification">
          <div>
            <div class="border-bottom px-3 pt-2 pb-3 d-flex
              justify-content-between align-items-center">
              <p class="mb-0 text-dark fw-medium fs-4">Notifications</p>
              <a href="#" class="text-muted">
                <span>
                  <i class="me-1 icon-xxs" data-feather="settings"></i>
                </span>
              </a>
            </div>
            <!-- List group -->
            <ul class="list-group list-group-flush notification-list-scroll"  style="cursor: pointer">
              <!-- List group item -->

              {% set logs = getfile('../var/log/history.log') %}
              {% for log in logs %}
                <li class="list-group-item bg-light">
                    <h5 class=" mb-1">{{ log[0] }}</h5>
                    <p class="mb-0 text-muted">
                      {{ log[1] }}
                    </p>
                 </li>
                {% else %}
                  <li class="list-group-item bg-light text-center pb-10 pt-10" >
                    <h4 class=" mb-1">Aucune notification</h4>
                  </li>
              {% endfor %}
            </ul>
            <div class="border-top px-3 py-2 text-center">
              <a href="{{ path('app_dashboard_log') }}" class="text-inherit fw-semi-bold">
                Voir toutes les notifications
              </a>
            </div>
          </div>
        </div>
      </li>
      <!-- List -->
      <li class="dropdown ms-2">
        <a  href="#" role="button" id="dropdownUser"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <i style="font-size: 140%" class="bi bi-person-circle"> &nbsp; </i>
        </a>
        <div class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownUser">
          <div class="px-4 pb-0 pt-2">


            <div class="lh-1 ">
              <h5 class="mb-1"> {{ app.user.userIdentifier }}</h5>
              <a href="{{ path('app_dashboard_profile') }}" class="text-inherit fs-6">Voir le profil</a>
            </div>
            <div class=" dropdown-divider mt-3 mb-2"></div>
          </div>

          <ul class="list-unstyled">
            <li>
              <a class="dropdown-item"
                href="{{ path('app_dashboard_log') }}">
                <i class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="activity"></i>Historique
              </a>
            </li>


            <li>
              <a class="dropdown-item" href="#">
                <i class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="settings"></i>Paramètres
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('app_logout') }}">
                <i class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="power"></i>Déconnexion
              </a>
            </li>
          </ul>

        </div>
      </li>
    </ul>
  </nav>
</div>