 <!-- Sidebar -->
 <nav class="navbar-vertical navbar">
    <div class="nav-scroller">
        <!-- Brand logo -->
{#        <a class="navbar-brand" href="@@webRoot/index.html">#}
{#            <img src="{{ asset('build/images/brand/logo/logo.svg') }}" alt="" />#}
{#        </a>#}
        <br><br>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a class="nav-link has-arrow @@if (context.page ===  'dashboard') { active }" href="{{ path('app_dashboard') }}">
                    <i data-feather="home" class="nav-icon icon-xs me-2" style="font-size: 20px">DASHBOARD</i>
                </a>
            </li>


         <!-- Nav item -->
         <li class="nav-item">
            <div class="navbar-heading">Entités</div>
        </li>


             <!-- Nav item -->
             <li class="nav-item">
                <a class="nav-link has-arrow @@if (context.page_group !== 'pages') { collapsed }" href="{{ path('app_dashboard_users') }}" data-bs-toggle="collapse" data-bs-target="#navPages" aria-expanded="false" aria-controls="navPages">
                    <i
                    data-feather="layers"

                    class="nav-icon icon-xs me-2">
                </i> Utilisateurs
                </a>

                <div id="navPages" class="collapse @@if (context.page_group === 'pages') { show }" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link has-arrow  @@if (context.page === 'settings') { active } "  href="{{ path('app_dashboard_users') }}" >Tous les utilisateurs </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link has-arrow  @@if (context.page === 'settings') { active } "  href="{{ path('app_dashboard_students') }}" >Etudiants </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link has-arrow  @@if (context.page === 'settings') { active } "  href="{{ path('app_dashboard_sponsors')}}" >Parrains </a>
                        </li>
                    </ul>
                </div>

                </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page_group !== 'authentication') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navAuthentication" aria-expanded="false" aria-controls="navAuthentication">
                                <i data-feather="lock" class="nav-icon icon-xs me-2">
                                </i> Matchs & Parrainages
                            </a>
                            <div id="navAuthentication" class="collapse @@if (context.page_group === 'authentication') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'signin') { active }" href="{{ path('app_sponsorship_sponsorships')}}"> Parrainages</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'signup') { active } " href="{{ path('app_dashboard_matches')}}"> Matchs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Nav item -->
                        <li class="nav-item">
                            <div class="navbar-heading">Gestion données</div>
                        </li>

                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page === 'docs') { active }" href="@@webRoot/docs/accordions.html" >
                                <i data-feather="package" class="nav-icon icon-xs me-2" ></i>  Cursus
                            </a>
                         </li>
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page === 'docs') { active }" href="@@webRoot/docs/accordions.html" >
                                <i data-feather="package" class="nav-icon icon-xs me-2" ></i>  Etablissement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page === 'docs') { active }" href="@@webRoot/docs/accordions.html" >
                                <i data-feather="package" class="nav-icon icon-xs me-2" ></i>  Langues
                            </a>
                        </li>

                        <!-- Nav item -->
                        <li class="nav-item">
                            <div class="navbar-heading">Accessibilité</div>
                        </li>

                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page === 'docs') { active }" href="@@webRoot/docs/index.html" >
                                <i data-feather="clipboard" class="nav-icon icon-xs me-2" ></i>  Administrateurs
                            </a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page === 'docs') { active }" href="@@webRoot/docs/changelog.html" >
                                <i data-feather="git-pull-request" class="nav-icon icon-xs me-2" ></i>  Docs
                            </a>
                         </li>
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page === 'docs') { active }" href="@@webRoot/docs/changelog.html" >
                                <i data-feather="git-pull-request" class="nav-icon icon-xs me-2" ></i>  Historique
                            </a>
                        </li>




                    </ul>

                </div>
</nav>