{% extends 'base.html.twig' %}

{% block title %}Sponsorship index{% endblock %}

{% block body %}
    <h1>Sponsorship index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Wishes</th>
                <th>State</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsorship in sponsorships %}
            <tr>
                <td>{{ sponsorship.id }}</td>
                <td>{{ sponsorship.wishes ? sponsorship.wishes|join(', ') : '' }}</td>
                <td>{{ sponsorship.state }}</td>
                <td>{{ sponsorship.createdAt ? sponsorship.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_sponsorship_show', {'id': sponsorship.id}) }}">show</a>
                    <a href="{{ path('app_sponsorship_edit', {'id': sponsorship.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sponsorship_new') }}">Create new</a>
{% endblock %}
