{% extends 'base.html.twig' %}

{% block title %}Sponsorship{% endblock %}

{% block body %}
    <h1>Sponsorship</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sponsorship.id }}</td>
            </tr>
            <tr>
                <th>Wishes</th>
                <td>{{ sponsorship.wishes ? sponsorship.wishes|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ sponsorship.state }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ sponsorship.createdAt ? sponsorship.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sponsorship_index') }}">back to list</a>

    <a href="{{ path('app_sponsorship_edit', {'id': sponsorship.id}) }}">edit</a>

    {{ include('sponsorship/_delete_form.html.twig') }}
{% endblock %}
