{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

{#                <div id="page-content">#}
                    <div class="bg-primary pt-10 pb-21"></div>
                    <div class="container-fluid mt-n22 px-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <!-- Page header -->
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mb-2 mb-lg-0" style="margin-top: 2%">
                                            <h1 class="mb-0  text-white" style="font-weight: bolder"> Dashboard </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                                <!-- card -->
                                <div class="card ">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- heading -->
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div>
                                                <h4 class="mb-0">Parrainages</h4>
                                            </div>
                                            <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                                <i class="bi bi-people-fill"></i>
                                            </div>
                                        </div>
                                        <!-- project number -->
                                        <div>
                                            <h1 class="fw-bold">{{ numValidSponsorship }}</h1>
                                            <p class="mb-0"><span class="text-success me-2">{{ numSponsorship }}</span>Au total</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                                <!-- card -->
                                <div class="card ">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- heading -->
                                        <div class="d-flex justify-content-between align-items-center
                            mb-3">
                                            <div>
                                                <h4 class="mb-0">Parrains</h4>
                                            </div>
                                            <div class="icon-shape icon-md bg-light-primary text-primary
                            rounded-2">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                        <!-- project number -->
                                        <div>
                                            <h1 class="fw-bold">{{ numValidProposals }}</h1>
                                            <p class="mb-0"><span class="text-success me-2">{{ numProposals }}</span>Inscrits</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                                <!-- card -->
                                <div class="card ">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- heading -->
                                        <div class="d-flex justify-content-between align-items-center
                            mb-3">
                                            <div>
                                                <h4 class="mb-0">Etudiants</h4>
                                            </div>
                                            <div class="icon-shape icon-md bg-light-primary text-primary
                            rounded-2">
                                                <i class="bi bi-person-fill"></i>
                                            </div>
                                        </div>
                                        <!-- project number -->
                                        <div>
                                            <h1 class="fw-bold">{{ numValidRequests }}</h1>
                                            <p class="mb-0"><span class="text-success me-2">{{ numRequests }}</span>Inscrits</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                                <!-- card -->
                                <div class="card ">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- heading -->
                                        <div class="d-flex justify-content-between align-items-center
                            mb-3">
                                            <div>
                                                <h4 class="mb-0">Match en attente</h4>
                                            </div>
                                            <div class="icon-shape icon-md bg-light-primary text-primary
                            rounded-2">
                                                <i class="bi bi bi-inboxes-fill"></i>
                                            </div>
                                        </div>
                                        <!-- project number -->
                                        <div>
                                            <h1 class="fw-bold">{{ onHoldMatches | length }}</h1>
                                            <p class="mb-0"><span class="text-success me-2">{{ numNoMatchSponsor }}</span>Parrain(s) disponible(s)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-6">
                            <div class="col-md-12 col-12">
                                <!-- card  -->
                                <div class="card">
                                    <!-- card header  -->
                                    <div class="card-header bg-white  py-4">
                                        <h4 class="mb-0">Match en attente</h4>
                                    </div>
                                    <!-- table  -->
                                    <div class="table-responsive text-center">
                                        <table class="table text-nowrap mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Prenom</th>
                                                    <th>Date d'inscription</th>
                                                    <th>Statut</th>
                                                    <th>Priorité</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for request in onHoldMatches %}
                                                <tr>
                                                    <td class="align-middle">
                                                        <div class="text-center">
                                                            {{ request.person.lastname }}
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="text-center">
                                                            {{ request.person.firstname | upper }}
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="text-center">
                                                            {{ request.person.updatedAt | date('Y-m-d')  }}
                                                        </div>
                                                    </td>

                                                        {% if request.state.value == "available" %}
                                                            <td class="align-middle">
                                                                <div class="text-center">
                                                                    VALIDATION ADMIN
                                                                </div>
                                                            </td>
                                                            <td class="align-middle">
                                                                <div class="text-center">
                                                                    <span class="badge bg-danger">High</span>
                                                                </div>
                                                            </td>

                                                        {% elseif request.state.value == "matched"%}
                                                            <td class="align-middle">
                                                                <div class="text-center">
                                                                    VALIDATION PERSONNES
                                                                </div>
                                                            </td>
                                                            <td class="align-middle">
                                                                <div class="text-center">
                                                                    <span class="badge bg-warning">Medium</span>
                                                                </div>
                                                            </td>

                                                        {% endif %}
                                                    <td class="align-middle">
                                                        <div class="text-center">
                                                            {% if request.state.value == "matched" %}
                                                                <a href="#"><i style="font-size: 130%" class="bi bi-arrow-up-square"></i></a>
                                                            {% else %}
                                                                <a href="#"><i style="font-size: 130%" class="bi bi-plus-square"></i></a>
                                                            {% endif %}
                                                            &nbsp;
                                                            &nbsp;
                                                            <a href="{{ path('app_dashboard_user', {'id': request.person.id}) }}"><i style="font-size: 130%" class="bi bi-info-circle"></i></a>

                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- card footer  -->
                                    <div  class="card-footer bg-white text-center">
                                        <a href="#" class="link-primary">Voir tous les matchs </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                        <p style="margin-bottom: 7%"></p>
{% endblock %}
