{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <!-- Page header -->
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mb-2 mb-lg-0" style="margin-top: 2%">
                                            <h2 class="mb-0 "> Parrainages </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                                <!-- card -->
                                <div class="card ">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- heading -->
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div>
                                                <h4 class="mb-0">Parrainages</h4>
                                            </div>
                                            <div class="icon-shape icon-md bg-light-primary text-primary rounded-2">
                                                <i class="bi bi-people-fill"></i>
                                            </div>
                                        </div>
                                        <!-- project number -->
                                        <div>
                                            <h1 class="fw-bold">{{ sponsorship | length }}</h1>
                                            <p class="mb-0"><span class="text-success me-2">{{  nomatchrequests | length }}</span>Demande(s) en attente</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                                <!-- card -->
                                <div class="card ">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- heading -->
                                        <div class="d-flex justify-content-between align-items-center
                            mb-3">
                                            <div>
                                                <h4 class="mb-0">Parrains</h4>
                                            </div>
                                            <div class="icon-shape icon-md bg-light-primary text-primary
                            rounded-2">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                        <!-- project number -->
                                        <div>
                                            <h1 class="fw-bold">{{ proposalsatdate }}</h1>
                                            <p class="mb-0"><span class="text-success me-2">{{ nbproposals }}</span>Inscrits</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                                <!-- card -->
                                <div class="card ">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- heading -->
                                        <div class="d-flex justify-content-between align-items-center
                            mb-3">
                                            <div>
                                                <h4 class="mb-0">Etudiants</h4>
                                            </div>
                                            <div class="icon-shape icon-md bg-light-primary text-primary
                            rounded-2">
                                                <i class="bi bi-person-fill"></i>
                                            </div>
                                        </div>
                                        <!-- project number -->
                                        <div>
                                            <h1 class="fw-bold">{{ requestsatdate }}</h1>
                                            <p class="mb-0"><span class="text-success me-2">12</span>Inscrits</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
                                <!-- card -->
                                <div class="card ">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <!-- heading -->
                                        <div class="d-flex justify-content-between align-items-center
                            mb-3">
                                            <div>
                                                <h4 class="mb-0">Match en Attente</h4>
                                            </div>
                                            <div class="icon-shape icon-md bg-light-primary text-primary
                            rounded-2">
                                                <i class="bi bi bi-inboxes-fill"></i>
                                            </div>
                                        </div>
                                        <!-- project number -->
                                        <div>
                                            <h1 class="fw-bold">{{ nomatchrequests | length }}</h1>
                                            <p class="mb-0"><span class="text-success me-2">{{ nomatchproposal }}</span>Parrain(s) disponible(s)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-6">
                            <div class="col-md-12 col-12">
                                <!-- card  -->
                                <div class="card">
                                    <!-- card header  -->
                                    <div class="card-header bg-white  py-4">
                                        <h4 class="mb-0">Match en attente</h4>
                                    </div>
                                    <!-- table  -->
                                    <div class="table-responsive text-center">
                                        <table class="table text-nowrap mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Etudiant</th>
                                                    <th>Parrain</th>
                                                    <th>Ville</th>
                                                    <th>Demande(s)</th>
                                                    <th>Matching</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for match in matchencours %}
                                                <tr>
                                                    <td class="align-middle">
                                                        <div style="text-align: left; margin-left: 27%">
                                                            {{ match.sponsorRequest.person.firstname }} {{ match.sponsorRequest.person.lastname | upper }}
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="text-center">
                                                            {{ match.sponsorProposal.person.firstname }} {{ match.sponsorProposal.person.lastname | upper }}
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="text-center">
                                                        test
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="text-center">
                                                            {% set cpt = 0 %}
                                                            {% for wish in match.wishes %}
                                                                {% if cpt < 3 %}
                                                                    Wish
                                                                {% endif %}
                                                                    {% set cpt = cpt +1 %}
                                                            {% endfor %}
                                                            {% if cpt >= 3 %}
                                                                {% set cpt = cpt - 2 %}
                                                                + {{ cpt }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="text-center">
                                                            <a href="#"><i style="font-size: 120%" class="bi bi-person-plus"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- card footer  -->
                                    <div  class="card-footer bg-white text-center">
                                        <a href="#" class="link-primary">Voir tous les matchs </a>

                                    </div>
                                </div>

                            </div>
                         </div>
                        <p style="margin-bottom: 7%"></p>
{% endblock %}
