{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block javascripts %}

    <script>
        function search(val){
            let personlist = []
            personlist = {{ jsvar | json_encode() | raw}};


            let startwith = [];
            let within = [];

            for(var personl in personlist){
                if((personlist[personl]["firstname"].toLowerCase()).startsWith(val.toLowerCase()) || (personlist[personl]["lastname"].toLowerCase()).startsWith(val.toLowerCase()) ){
                    startwith.push(personlist[personl]);
                }
                else if((personlist[personl]["firstname"].toLowerCase()).includes(val.toLowerCase()) || (personlist[personl]["lastname"].toLowerCase()).includes(val.toLowerCase())){
                    within.push(personlist[personl]);
                }
            }

            let personByName = startwith.concat(within)

            document.getElementById('persons').innerHTML = "";
            document.getElementById('noresult').innerHTML = "";

            if(personByName.length === 0){
                document.getElementById('noresult').innerHTML = "<div><div class=\"container-fluid text-center\" style=\"margin-top: 10%\"> <h3> Aucun résulat pour la recherche \"" + val +"\" </h3></div></div>";
            }

            console.log(personByName)
            for(var person in personByName){
                console.log(personByName[person])
                document.getElementById('persons').innerHTML +=  "<tr> <td class=\"align-middle\"> <div class=\"text-center\">" + personByName[person]["firstname"] + "&nbsp;" + (personByName[person]["lastname"]).toUpperCase() +
                    "</div> </td> <td class=\"align-middle\"> <div class=\"text-center\"> " + personByName[person]["createAt"] + " </div> </td> <td class=\"align-middle\"> <div class=\"text-center\" style=\"color: cornflowerblue\">" +
                    personByName[person]["email"] + " </div> </td> <td class=\"align-middle\"> <div class=\"text-center\">" + personByName[person]["phonenumber"] +
                    " </div> </td> <td class=\"align-middle\"> <div class=\"text-center\" style=\"color: darkred\">" + personByName[person]["status"] + " </div> </td> <td class=\"align-middle\"> <div class=\"text-center\"> <a href=\"#\"><i style=\"font-size: 120%\" class=\"bi bi-info-circle\"></i></a> </div></td> </tr>";
            }
        }
    </script>

{% endblock %}

{% block body %}

    <div class="ms-lg-3 d-none d-md-none d-lg-block" style="margin-top: 5%">
        <!-- Form -->
        <form class="d-flex align-items-center">
            <input style="width: 70%; margin-left: 15%" type="search" class="form-control" placeholder="Rechercher un utilisateur" oninput="search(this.value)"/>
        </form>
    </div>
{#    <div class="input-group ms-lg-3" style="margin-top: 5%" >#}
{#        <form autocomplete="off" class="d-flex align-items-center container-fluid">#}
{#                <div class="form-outline">#}
{#                    <input id="myInput"  type="search" class="form-control" name="person" placeholder="Rechercher un utilisateur"  " >#}
{#                </div>#}
{#            </form>#}
{#    </div>#}

    <div class="table-responsive text-center" style="margin-top: 3%">
        <table class="table text-nowrap mb-0">
            <thead class="table-light">
            <tr>
                <th>Identité</th>
                <th>Date d'inscription</th>
                <th>Email</th>
                <th>N° Téléphone</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="persons">
                {% for person in persons %}
                    <tr>
                        <td class="align-middle">
                            <div class="text-center">
                                {{ person.firstname }} &nbsp; {{ person.lastname | upper }}
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="text-center">
                                {{ person.createdAt | date("d-m-Y") }}
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="text-center" style="color: cornflowerblue">
                                {{ person.email }}
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="text-center">
                                {{ person.phonenumber }}
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="text-center" style="color: darkred">
                                {% if person is instanceof(student) %}
                                    Etudiant
                                {% else %}
                                    Parrain
                                {% endif %}
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="text-center">
                                <a href="#"><i style="font-size: 120%" class="bi bi-info-circle"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p id="noresult"></p>
    </div>
{% endblock %}
