<div>
    Bonjour {{ civility }} {{ lastname }},<br>
    <br>
    Vous avez bénéficié d’une mise en relation avec un étudiant, merci de bien vouloir nous
    indiquer si les échanges se poursuivent.<br>
    <a href="http://127.0.0.1:8100/yes/{{id}}/{{ idsponsorship }}">OUI</a> <a href="http://127.0.0.1:8100/end/{{id}}/{{ idsponsorship }}">NON</a><br>
    <br>
    Cordialement,<br>
    <br>
    L'équipe Ôpe
</div>