<div>
    Bonjour {{ firstname }},<br>
    <br>
    Faisant suite à votre inscription sur la plateforme de parrainage Ôpe, merci de nous indiquer si
    le contact avec votre parrain ou votre marraine est bien établi.<br>
    <a href="http://127.0.0.1:8100/yes/{{id}}/{{ idsponsorship }}">OUI</a> <a href="http://127.0.0.1:8100/yes/{{id}}/{{ idsponsorship }}">NON</a><br>
    <br>
    Cordialement,<br>
    <br>
    L'équipe Ôpe.
</div>